body {
    margin: 0;
    font-family: Gantari, 'Open Sans', Helvetica, sans-serif;
}

a {
    color: rgb(92, 128, 196);
    text-decoration: none;
    transition: 0.2s;
    padding: 3px;
}
a:hover {
    color: rgb(255, 255, 255);
    background: rgb(92, 128, 196);
}