body {
    padding:0;
    margin:0;
}
html {
    background-color: #1c1c1c;
}

/* Divs */
.d-main {
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Text */
/*  Text Font */
.tf-ptn {
    font-family: 'Panton';
}
.tf-os {
    font-family: 'Open Sans';
}
/* Text Weights */
.tw-2 {
    font-weight: 200;
}
.tw-3 {
    font-weight: 300;
}
.tw-4 {
    font-weight: 400;
}
.tw-5 {
    font-weight: 500;
}
.tw-6 {
    font-weight: 600;
}
/* Text Color */
.tc-white {
    color: white;
}
/* Text Size */
.ts-1 {
    font-size: 1em;
}
.ts-2 {
    font-size: 2em;
}
.ts-3 {
    font-size: 3em;
}
.ts-4 {
    font-size: 4em;
}
.ts-5 {
    font-size: 5em;
}
.ts-6 {
    font-size: 6em;
}
/* Text Align */
.ta-c {
    text-align: center;
}
.ta-cc {
    display: grid;
    place-content: center;
    place-items: center;
}
.ta-l {
    text-align: left;
}
.ta-r {
    text-align: right;
}
/* Text Deco */
.td-nicebody {
    color: rgb(160, 183, 209);
}
/* Links */
a {
    color: skyblue;
    font-style: italic;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    color: #c3ebfc;
}

/* Header */
.header {
    padding: 15px;
    background: #111111;
    color: white;
    z-index: 2;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Buttons */
/* Buttons */
button, a.btn {
    text-decoration: none;
    padding: 15px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    transition: 0.3s;
    font-family: 'Panton', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 35px;
}
button.btn-one, a.btn-one {
    color: rgb(200, 200, 200);
    background: rgba(0,0,0,0.3);
    border-color: rgb(31, 82, 133);
    border-width: 2px;
}
button.btn-two, a.btn-two {
    color: rgb(200, 200, 200);
    background: rgba(0,0,0,0.3);
    border-color: rgb(211, 142, 39);
}
button.btn-one:hover, a.btn-one:hover {
    color: #fff;
    background-color: rgb(31, 82, 133);
    border-color: rgb(31, 82, 133);
}
button.btn-two:hover, a.btn-two:hover {
    color: #fff;
    background-color: rgb(211, 142, 39);
    border-color: rgb(211, 142, 39);
}
a.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

/* Work Section */
.mwi {
    height: 160px;
    margin: 20px;
    transition: 0.2s;
}
.mwi:hover {
    transform: scale(1.1);
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 18px;
    font-family: 'Quicksand';

    width: 140px;
    bottom: 105%;
    left: 50%;
    margin-left: -70px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

