body {
    padding:0;
    margin:0;
}
html {
    background-color: #e7eff3;
}

a {
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
    color: rgb(140, 0, 255);
    transition: 0.2s;
}
a:hover {
    color: rgb(176, 80, 255);
}

#intro, #aboutme, #skillssummary, #projects {
    color: rgb(20, 20, 22);
    margin: 10px;
}
#intro {
    background: #f6fafc;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp {
    max-width: 200px;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
}
.jnd {
    margin-left: 30px;
    font-size: 60px;
    font-family: 'Helvetica Now', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

#aboutme {
    background: #e8f6ff;
    padding: 25px;
    padding-top: 5px;

    display: flexbox;
    align-items: center;
    justify-items: center;
}
.amt {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Helvetica Now', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}
.amd {
    margin-left: 30px;
    font-size: 18px;
    font-family: 'Helvetica Now', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#skillssummary {
    background: #f0f5f8;
    padding: 25px;
    padding-top: 5px;

    display: flexbox;
    align-items: center;
    justify-items: center;
}
.sst {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Helvetica Now', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}
.ssis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ssiw {
    margin: 15px;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-family: 'Helvetica Now', 'Open Sans', Helvetica, Arial, sans-serif;
}
.ssi {
    border-radius: 100%;
    height: 105px;
    width: 105px;
    object-fit: contain;
    background-color: rgb(230,230,230);
}
.ssi-uf {
    height: 100px;
    width: 100px;
    padding: 5px;
}

#projects {
    background: #f0f5f8;
    padding: 25px;
    padding-top: 5px;

    display: flexbox;
    align-items: center;
    justify-items: center;
}
.pt {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Helvetica Now', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}
.pis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.piw {
    margin: 10px;
    justify-content: center;
}
.pi {
    height: 150px;
    object-fit: contain;
    background-color: rgb(230,230,230);
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 3px;
    transition: 0.2s;
}
.pi:hover {
    transform: scale(1.1);
}

#footer {
    text-align: center;
    padding: 10px;
    color: rgb(225, 225, 225);
    background: #111;
}